@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : footer
//      @comment      : 푸터 영역
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

#footer {
	background-color: #F8F8F8;
	.inner {
		@include flexbox;
		@include align-items(center);
		@include justify-content(flex-end);
		padding-top: rem(65);
		padding-bottom: rem(65);
	}
}

.foot-link {
	margin-right: auto;
	a {
		display: block;
		white-space: nowrap;
		font-size: rem(20);
		font-weight: 800;
	}
}
.foot-info {
	@include flexbox;
	@include align-items(flex-end);
	@include flex-direction(column);
	font-size: rem(15);
	font-weight: 500;
	padding: rem(12) 0 rem(24);
	[class*='info-'] {
		@include flexbox;
		@include justify-content(flex-end);
		li {
			margin-top: rem(12);
			&:not(:last-child) {
				margin-right: rem(20);
			}
		}
	}
	.info-content {
		font-weight: 800;
	}
	.copyright {
		margin-top: rem(24);
	}
}


/* ================================== media query ================================== */
@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {
	#footer {
		.inner {
			@include flex-direction(column);
			padding-top: rem(40);
			padding-bottom: rem(48 - 25);
		}
	}
	.foot-link {
		a {
			font-size: rem(16);
			line-height: (19/16);
		}
	}
	.foot-info {
		@include align-items(flex-start);
		font-size: rem(15);
		[class*='info-'] {
			@include justify-content(flex-start);
			@include flex-wrap(wrap);
		}
		.info-content {
			@include flex-direction(column);
		}
	}

} //768px

@include respond-to('sm') {

} //576px