@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : footer
//      @comment      : 푸터 영역
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

#footer {
	background-color: #F8F8F8;
	.inner {
		@include flexbox;
		@include align-items(center);
		@include justify-content(flex-end);
		height: rem(277);
	}
}

.foot-link {
	margin-right: auto;
	a {
		display: block;
		white-space: nowrap;
		font-size: rem(20);
		font-weight: 800;
	}
}
.foot-info {
	@include flexbox;
	@include align-items(flex-end);
	@include flex-direction(column);
	font-size: rem(15);
	font-weight: 500;
	[class*='info-'] {
		@include flexbox;
		@include justify-content(flex-end);
		li:not(:first-child) {
			margin-left: rem(20);
		}
	}
	.info-content {
		margin-top: rem(12);
		font-weight: 800;
	}
	.copyright {
		margin-top: rem(24);
	}
}


/* ================================== media query ================================== */
@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px