@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : grid
//      @comment      : 그리드 설정
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣


//list group
.list-group {
	//overflow: hidden;
	&.type1 > *:not(:first-child) {
		margin-top: rem(80);
	}
	&.type2 {
		@include flexbox;
		@include flex-wrap(wrap);
		margin: rem(10) 0 0 rem(-40);
		> * {
			@include flex(1, 0, 50%);
			max-width: 50%;
			padding: rem(40) 0 0 rem(40);
		}
	}
}

.col-half {
	@include flexbox;
	@include align-items(flex-start);
	& > * {
		@include flex-basis(50%);
	}

}

.col-one-fourth {
	@include flexbox;
	@include align-items(flex-start);
	@include justify-content(space-between);
	& > *:first-child {
		@include flex-basis(25.7%);
	}
	& > *:last-child {
		@include flex-basis(74.3%);
	}
}


/* ================================== media query ================================== */
@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {
	.list-group {
		&.type1 > *:not(:first-child) {
			//margin-top: rem(80);
		}
		&.type2 {
			@include flexbox;
			@include flex-wrap(wrap);
			margin: rem(8) 0 0 rem(-32);
			> * {
				@include flex-basis(100%);
				max-width: 100%;
				padding: rem(32) 0 0 rem(32);
			}
		}
	}
} //768px

@include respond-to('sm') {

} //576px
