@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : grid
//      @comment      : 그리드 설정
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

@use "sass:math";

.flex-wrap {
	@include flexbox;
	@include align-items(center);
	padding-left: 0;
	&.in-btn {
		.btn-group {
			margin-left: rem(100);
		}
	}
	.img-item,
	.txt-item {
		@include flex(1, 0, 50%);
		transition: .3s ease;
	}
	.txt-item {
		padding-left: 8%;
		padding-right: rem(40);
	}
	&.reverse {
		@include flex-direction(row-reverse);
		padding-right: 0;
		.txt-item {
			padding-left: rem(40);
			padding-right: 8%;
		}
	}
	&.left {
		@include justify-content(flex-start);
	}
	&.right {
		@include justify-content(flex-end);
	}
	&.ratio55 {
		.img-item {
			@include flex-basis(55%);
		}
		.txt-item {
			@include flex-basis(45%);
			padding-left: 4%;
		}
	}
}
.flex-item {
	max-width: 670px;
	&.mx-wid690 {
		max-width: 690px;
	}
}


//list group
.list-group {
	overflow: hidden;
	&.type1 > *:not(:first-child) {
		margin-top: rem(80);
	}
	&.type2 {
		@include flexbox;
		@include flex-wrap(wrap);
		margin: rem(10) 0 0 rem(-40);
		> * {
			@include flex(1, 0, 50%);
			max-width: 50%;
			padding: rem(40) 0 0 rem(40);
		}
	}
	&.type3 {

	}



}


/* ================================== media query ================================== */
@include respond-to('xl') {
	.flex-wrap {
		.img-item {
			@include flex-basis(40%);
		}
		.txt-item {
			@include flex-basis(60%);
		}
		&.ratio55 {
			.img-item {
				@include flex-basis(40%);
			}
			.txt-item {
				@include flex-basis(60%);
				padding-left: 8%;
			}
		}
	}
} //1200px

@include respond-to('lg') {
	.flex-wrap {
		@include align-items(flex-start);
		@include flex-direction(column);
		&.in-btn {
			.btn-group {
				margin-left: 0;
			}
		}
		.img-item,
		.txt-item {
			@include flex-basis(100%);
			width: 100%;
			padding-left: rem(40);
			padding-right: rem(40);
		}
		.img-item {
			margin-bottom: rem(40);
		}
		&.reverse {
			@include flex-direction(column);
			padding-right: 0;
			.txt-item {
				padding-right: rem(40);
			}
		}
		&.right {
			@include justify-content(flex-start);
		}
		&.ratio55 {
			.img-item,
			.txt-item {
				@include flex-basis(100%);
				width: 100%;
				padding-left: rem(40);
				padding-right: rem(40);
			}
		}
	}
	.flex-item {
		max-width: 100%;
		&.mx-wid690 {
			max-width: 100%;
		}
	}
	//list group
	.list-group {
		&-row {
			@include flex-direction(column);
			margin: 0;
			& > li {
				@include flex-basis(100%);
				max-width: 100%;
				padding: 0;
				& ~ li {
					margin-top: rem(80);
				}
			}
		}
		&-col {
			.flex-wrap {
				.img-item,
				.txt-item {
					padding-left: 0;
					padding-right: 0;
				}
				.img-item {
					max-width: 100%;
					margin-bottom: rem(30);
				}
			}
		}
	}
} //992px

@include respond-to('md') {
	.flex-wrap {
		&.in-btn {
			.btn-group {
				width: 100%;
				margin-top: rem(40);
			}
		}
		.img-item,
		.txt-item {
			padding-left: rem(30);
			padding-right: rem(30);
		}
		&.reverse {
			.txt-item {
				padding-left: rem(30);
				padding-right: rem(30);
			}
		}
		&.ratio55 {
			.img-item,
			.txt-item {
				padding-left: rem(30);
				padding-right: rem(30);
			}
		}
	}
} //768px

@include respond-to('sm') {

} //576px
