@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : header
//      @comment      : 헤더 영역
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(#fff, 1);
	-webkit-backdrop-filter: blur(rem(20));
	backdrop-filter: blur(rem(20));
	transition: .3s ease;
	z-index: 10;
	&.is-fixed {
		position: fixed;
		// padding-top: rem(12);
		// padding-bottom: rem(12);
		background-color: rgba(#fff, .68);
	}
	.inner {
		@include flexbox;
		@include align-items(center);
		@include justify-content(flex-end);
	}
	.logo {
		position: fixed;
		left: rem(40);
		margin-right: auto;
		width: rem(49);
		max-width: rem(49);
		height: rem(30);
		background: url('../images/common/logo-bjit.svg') no-repeat center/cover;
		transition: .3s ease-out;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.gnb-control {
		display: none;
	}
	.lang-box {
		position: fixed;
		right: rem(40);
		margin-left: rem(76);
		.lang-current {
			display: flex;
			align-items: center;
			width: rem(64);
			height: rem(80);
			color: #222;
			font-size: rem(12);
			font-weight: 700;
			white-space: nowrap;
			&:after {
				content: '';
				width: rem(9);
				height: rem(6);
				margin-left: auto;
				background: url('../images/icon/ic-lang-choice.svg') no-repeat center/cover;
			}
		}
		.lang-choice {
			position: absolute;
			top: rem(15);
			right: 0;
			padding: rem(7) 0;
			border-radius: rem(8);
			background-color: #F5F5F5;
			opacity: 0;
			transition: .3s ease-out;
			a {
				display: block;
				padding: rem(10) rem(14);
				color: #222;
				font-size: rem(12);
				font-weight: 700;
				white-space: nowrap;
				transition: .3s ease-out;
				&:hover {
					color: #F07136;
				}
			}
		}
		&:hover {
			.lang-choice {
				opacity: 1;
			}
		}
	}
	&.mo-gnb-open {
		-webkit-backdrop-filter: unset;
		backdrop-filter: unset;
	}
}

.gnb-wrap {
	@include flexbox;
}

#gnb {
	position: relative;
	//width: 100%;
	.gnb-depth1 {
		@include flexbox;
		@include align-items(center);
		& > li {
			position: relative;
			&:not(:first-child) {
				margin-left: rem(60);
			}
			& > a {
				position: relative;
				@include flexbox;
				@include align-items(center);
				height: rem(80);
				font-size: rem(15);
				font-weight: 700;
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: rem(12);
					display: block;
					width: rem(6);
					height: rem(6);
					border-radius: 50%;
					background-color: #F07136;
					transform: translateX(-50%) scale(0);
					transition: all .2s linear;
				}
				&:hover,
				&.is-active {
					&:after {
						transform: translateX(-50%) scale(1);
					}
					& + .gnb-depth2 {
						margin-left: 0;
						opacity: 1;
					}
				}
			}
		}
	}
	.gnb-depth2 {
		position: absolute;
		right: 50%;
		bottom: rem(-58);
		@include flexbox;
		@include align-items(center);
		margin-left: rem(-60);
		padding: 0 rem(32);
		border-radius: rem(8);
		background-color: #F5F5F5;
		transform: translateX(50%);
		opacity: 0;
		transition: all .3s ease-out;
		& > li {
			& > a {
				@include flexbox;
				@include align-items(center);
				height: rem(58);
				padding: rem(10) rem(10);
				color: #222;
				font-size: rem(15);
				font-weight: 500;
				white-space: nowrap;
				&:hover {
					color: #F07136;
					font-weight: 700;
					letter-spacing: -0.02em;
				}
			}
		}
		&:hover {
			margin-left: 0;
			opacity: 1;
		}
	}
}



/* ================================== media query ================================== */
@include respond-to('2034') {
	#gnb .gnb-depth2 {
		position: fixed;
		right: rem(40);
		transform: translateX(0);
	}
} //custom 2034px

@include respond-to('1800') {
	#header {
		.inner {
			max-width: 100%;
		}
		.logo {
			position: relative;
			left: auto;
		}
		
		.lang-box {
			position: relative;
			right: auto;
		}
	}
} //custom 1800px

@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {
	#header {
		.inner {
			@include justify-content(space-between);
		}
		.logo {
			width: rem(46);
			max-width: rem(46);
			height: rem(28);
		}
		.gnb-control {
			@include flexbox;
			width: rem(58);
			height:  rem(70);
			margin-top: 0;
			padding: 0;
			min-width: 0;
			border-radius: 0;
			.ic-gnb-control {
				position: relative;
				width: rem(24);
				height: rem(24);
				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: rem(24);
					height: rem(3);
					border-radius: rem(100);
					background-color: #222;
					transform: translate(-50%, -50%);
					transition: all .3s ease;
				}
				&:before {
					margin-top: rem(7);
				}
				&:after {
					margin-top: rem(-7);
				}
			}
			&.is-open {
				.ic-gnb-control {
					&:before,
					&:after {
						width: rem(28);
						margin-top: 0;
					}
					&:before {
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:after {
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
		}
		&.mo-gnb-open {
			-webkit-backdrop-filter: unset;
			backdrop-filter: unset;
			.gnb-wrap {
				transform: translateX(0);
			}
		}
	}
	.gnb-wrap {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);
		background-color: rgba(#fff, 1);
		transition: transform .4s ease-in-out;
		z-index: -1;

		.lang-box {
			display: none;
		}
	}

	#gnb {
		margin-top: rem(153);
		.gnb-depth1 {
			display: block;
			& > li {
				&:not(:first-child) {
					margin-left: 0;
				}
				& > a {
					display: block;
					height: auto;
					padding: rem(16) rem(17);
					font-size: rem(36);
					line-height: (48/36);
					&:after {
						display: none;
					}
					&:hover,
					&.is-active {
						& + .gnb-depth2 {
							display: none;
						}
					}
				}
			}
		}
		// .gnb-depth2 {
		// 	position: absolute;
		// 	right: 50%;
		// 	bottom: rem(-58);
		// 	@include flexbox;
		// 	@include align-items(center);
		// 	margin-left: rem(-60);
		// 	padding: 0 rem(32);
		// 	border-radius: rem(8);
		// 	background-color: #F5F5F5;
		// 	transform: translateX(50%);
		// 	opacity: 0;
		// 	transition: all .3s ease-out;
		// 	& > li {
		// 		& > a {
		// 			@include flexbox;
		// 			@include align-items(center);
		// 			height: rem(58);
		// 			padding: rem(10) rem(10);
		// 			color: #222;
		// 			font-size: rem(15);
		// 			font-weight: 500;
		// 			white-space: nowrap;
		// 			&:hover {
		// 				color: #F07136;
		// 				font-weight: 700;
		// 				letter-spacing: -0.02em;
		// 			}
		// 		}
		// 	}
		// 	&:hover {
		// 		margin-left: 0;
		// 		opacity: 1;
		// 	}
		// }
	}
} //768px

@include respond-to('sm') {

} //576px