@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : layout
//      @comment      : 레이아웃 설정
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

#wrap {
	position: relative;
	height: 100%;
	background-color: #fff;
}

[class^='inner'] {
	position: relative;
	max-width: rem(1520);
	margin: 0 auto;
	padding-left: rem(40);
	padding-right: rem(40);
}

#container {
	padding-top: rem(80);
	section {
		transition: all .4s ease;
		&:first-child {
			padding-top: rem(90);
		}
		&:last-child {
			padding-bottom: rem(230);
		}
	}
}


/* ================================== media query ================================== */
@include respond-to('xxl') {
	[class^='inner'] {
		padding-left: vw(40, 1520);
		padding-right: vw(40, 1520);
	}
	#container {
		section:last-child {
			padding-bottom: vw(230, 1520);
		}
	}
} //1520px

@include respond-to('xl') {

} //1200px

@include respond-to('lg') {
	[class^='inner'] {
		padding-left: rem(18);
		padding-right: rem(18);
	}
	#container {
		padding-top: rem(70);
		section:first-child {
			padding-top: rem(32);
		}
		section:last-child {
			padding-bottom: rem(103);
		}
	}
} //992px

@include respond-to('md') {


} //768px

@include respond-to('sm') {

} //576px