@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : img
//      @comment      : 이미지 콘텐츠 (images, figures)
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

.img-box {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	&.ratio2to1 {
		padding-bottom: (680/1440) * 100%;
	}
	&.non-pd {
		padding-bottom: 0;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}




/* ================================== media query ================================== */
@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px
