@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : img
//      @comment      : 이미지 콘텐츠 (images, figures)
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

.img-box {
	position: relative;
	display: block;
	width: 100%;
	&.ratio100 {
		padding-bottom: 100%;
	}
	&.ratio2to1 {
		padding-bottom: (680/1440) * 100%;
	}
	&[class*='ratio'] img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ef-img-hover {
	.img-box {
		overflow: hidden;
		img {
			transform: scale(1);
			transition: transform 5s ease-out;
		}
	}
	&:hover .img-box img {
		transform: scale(1.2);
	}
}



/* ================================== media query ================================== */
@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px
