@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : typo
//      @comment      : 글자 (제목, 본문 등)
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣


[class^='tit-'],
.txt {
	word-break: keep-all;
	transition: .3s ease;
	span {
		display: block;
	}
}
.tit-lg {
	margin-bottom: rem(24);
	font-size: rem(72);
	font-weight: 900;
	line-height: (86/72);
}
.tit-md {
	margin-bottom: rem(24);
	font-size: rem(60);
	font-weight: 900;
	line-height: (80/60);
}
.tit-sm {
	font-size: rem(28);
	font-weight: 800;
	line-height: (26/28);
	&.lh40 {
		line-height: (40/28);
	}
}
.txt {
	font-size: rem(24);
	font-weight: 500;
	line-height: (40/24);
}
.txt-sm {
	color: #888;
	font-size: rem(20);
	font-weight: 500;
	line-height: (30/20);
}

.dt-txt {
	color: #fff;
	font-size: rem(48);
	font-weight: 900;
	line-height: (60/48);
}
.dd-txt {
	color: #FFD3EC;
	font-size: rem(24);
	font-weight: 600;
	line-height: (40/24);
}
.img-txt {
	color: #fff;
	font-size: rem(28);
	font-weight: 900;
	line-height: (26/28);
	&.fc-black {
		color:#222;
	}
}
.slogan-txt {
	color: #fff;
	font-size: rem(52);
	font-weight: 900;
	line-height: 1.15;
}

.ul-list {
	li {
		@include flexbox;
		@include align-items(flex-start);
		font-size: rem(20);
		font-weight: 500;
		line-height: (40/20);
	}
	&.bul-dot li {
		&:before {
			content: '';
			@include flex-basis(rem(4));
			width: rem(4);
			min-width: rem(4);
			height: rem(4);
			margin: rem(17) rem(12) 0 0;
			border-radius: 50%;
			background-color: #222;
		}
	}
	&.fc-gray {
		color: #888;
		&.bul-dot li:before {
			background-color: #888;
		}
	}
}




/* ================================== media query ================================== */

@include respond-to('xxl') {

} //1520px


@include respond-to('xl') {

} //1200px

@include respond-to('lg') {
	// .tit-lg {
	// 	margin-bottom: rem((18*0.8));
	// 	font-size: rem((90*0.8));
	// }
	// .tit-md {
	// 	margin-bottom: rem((18*0.8));
	// 	font-size: rem((80*0.8));
	// }
	// .tit-sm {
	// 	margin-bottom: rem((18*0.8));
	// 	font-size: rem((60*0.8));
	// }
	// .txt {
	// 	font-size: rem((24*0.8));
	// }
} //992px

@include respond-to('md') {
	.tit-lg {
		margin-bottom: rem(14);
		font-size: rem(36);
		line-height: (48/36);
	}
	.txt {
		font-size: rem(16);
		line-height: (24/16);
	}
	.dt-txt {
		font-size: rem(30);
		line-height: (38/30);


	}
	.dd-txt {
		font-size: rem(16);
		line-height: (26/16);
	}
	.img-txt {
		font-size: rem(18);
		line-height: (24/18);
	}
} //768px

@include respond-to('sm') {

} //576px
