@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : typo
//      @comment      : 글자 (제목, 본문 등)
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣


[class^='tit-'],
.txt {
	word-break: keep-all;
	transition: .3s ease;
	span {
		display: block;
	}
}
.tit-lg {
	margin-bottom: rem(24);
	font-size: rem(72);
	font-weight: 900;
	line-height: (86/72);
}
.tit-md {
	margin-bottom: rem(24);
	font-size: rem(60);
	font-weight: 900;
	line-height: (80/60);
}
.tit-sm {
	font-size: rem(28);
	font-weight: 800;
	line-height: (26/28);
	&.lh40 {
		line-height: (40/28);
	}
}
.txt {
	font-size: rem(24);
	font-weight: 500;
	line-height: (40/24);
}
.txt-sm {
	color: #888;
	font-size: rem(20);
	font-weight: 500;
	line-height: (30/20);
}

.dt-txt {
	color: #fff;
	font-size: rem(48);
	font-weight: 900;
	line-height: (60/48);
}
.dd-txt {
	color: #FFD3EC;
	font-size: rem(24);
	font-weight: 600;
	line-height: (40/24);
}
.img-txt {
	color: #fff;
	font-size: rem(28);
	font-weight: 900;
	line-height: (26/28);
	&.fc-black {
		color:#222;
	}
}
.slogan-txt {
	color: #fff;
	font-size: rem(52);
	font-weight: 900;
	line-height: 1.15;
}

.ul-list {
	li {
		@include flexbox;
		@include align-items(flex-start);
		font-size: rem(20);
		font-weight: 500;
		line-height: (40/20);
	}
	&.bul-dot li {
		&:before {
			content: '';
			@include flex-basis(rem(4));
			width: rem(4);
			min-width: rem(4);
			height: rem(4);
			margin: rem(17) rem(12) 0 0;
			border-radius: 50%;
			background-color: #222;
		}
	}
	&.fc-gray {
		color: #888;
		&.bul-dot li:before {
			background-color: #888;
		}
	}
}




/* ================================== media query ================================== */

@include respond-to('xxl') {
	.tit-lg {
		margin-bottom: vw(24, 1520);
		font-size: vw(72, 1520);
	}
	.tit-md {
		margin-bottom: vw(24, 1520);
		font-size: vw(60, 1520);
	}
	.tit-sm {
		font-size: vw(28, 1520);
	}
	.txt {
		font-size: vw(24, 1520);
	}
	.txt-sm {
		font-size: vw(20, 1520);
	}
	.dt-txt {
		font-size: vw(48, 1520);
	}
	.dd-txt {
		font-size: vw(24, 1520);
	}
	.img-txt {
		font-size: vw(28, 1520);
	}
	.slogan-txt {
		font-size: vw(52, 1520);
	}
	.ul-list {
		li {
			font-size: vw(20, 1520);
		}
		&.bul-dot li {
			&:before {
				@include flex-basis(vw(4, 1520));
				width: vw(4, 1520);
				min-width: vw(4, 1520);
				height: vw(4, 1520);
				margin: vw(17, 1520) vw(12, 1520) 0 0;
			}
		}
	}
} //1520px


@include respond-to('xl') {

} //1200px

@include respond-to('lg') {
	[class^='tit-'],
	.txt {
		span {
			display: inline-block;
		}
	}
	.tit-lg {
		margin-bottom: rem(14);
		font-size: rem(36);
		line-height: (48/36);
	}
	.tit-md {
		margin-bottom: vw(16, 375);
		font-size: rem(30);
	}
	.tit-sm {
		font-size: rem(20);
	}
	.txt {
		font-size: rem(16);
		line-height: (24/16);
	}
	.txt-sm {
		font-size: rem(14);
	}
	.dt-txt {
		font-size: vw(20, 375);
		line-height: (38/30);
	}
	.dd-txt {
		font-size: vw(16, 375);
		line-height: (26/16);
	}
	.img-txt {
		font-size: vw(18, 375);
		line-height: (24/18);
	}
	// .slogan-txt {
	// 	font-size: vw(36, 375);
	// }
	.ul-list {
		li {
			font-size: rem(16);
		}
		&.bul-dot li {
			&:before {
				@include flex-basis(rem(4));
				width: rem(4);
				min-width: rem(4);
				height: rem(4);
				margin: rem(12) rem(12) 0 0;
			}
		}
	}


} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px
