@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : sub
//      @comment      : 서브 콘텐츠
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣


.row-cont {
	.tit-box {
		position: fixed;
		top: rem(80 + 90);
		width: 40%;
		z-index: 1;
	}
}

.list-company {
	width: 64%;
	margin-left: auto;
	.list-item {
		@include flexbox;
		@include align-items(flex-end);
		@include flex-direction(row-reverse);
	}
	.con-box {
		@include flex(1, 0, 70%);
		max-width: 70%;
		min-width: 70%;
		[class^='tit-'] {
			margin-top: rem(40);
		}
	}
	.ul-list li {
		@include justify-content(flex-end);
		padding-right: rem(80);
		white-space: nowrap;
	}
}

.visual {
	&.service {
		.img-item {
			position: relative;
			.slogan-txt {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 100%;
				text-align: center;
				transform: translate(-50%, -50%);
				z-index: 1;
				span {
					display: block;
					padding: rem(15) 0; 
				}
			}
		}
	}
}

.content {
	.inner {
		padding-top: rem(120);
		padding-bottom: rem(120);
	}
	&:last-child .inner {
		padding-bottom: 0;
	}
	&.top-line {
		.inner {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: rem(40);
				right: rem(40);
				height: rem(1);
				background-color: #f0f0f0;
			}
		}
	}
	&.bg-light {
		background-color: #F8F8F8;

	}
	.tit-box {
		margin-bottom: rem(110);
	}
	.con-box + .con-box {
		margin-top: rem(160);
	}
}

.con-item {
	& > *:not(:first-child) {
		margin-top: rem(40);
	}
}

.ul-list {
	&.col4 {
		@include flexbox;
		@include align-items(flex-start);
		& > * {
			@include flex-basis(25%);
			@include flexbox;
			@include justify-content(flex-start);
			@include flex-direction(column);
		}
	}
	&.center {
		& > * {
			@include align-items(center);
		}
	}

}





/* ================================== media query ================================== */


@include respond-to('xxl') {
	.list-company {
		.con-box {
			[class^='tit-'] {
				margin-top: vw(40, 1520);
			}
		}
		.ul-list li {
			padding-right: vw(80, 1520);
		}
	}
} //1520px

@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

	.row-cont {
		.tit-box {
			position: relative;
			top: auto;
			width: 100%;
		}
	}
	
	.list-company {
		width: 100%;
		.list-item {
			// @include flexbox;
			@include align-items(flex-start);
			@include flex-direction(column);
		}
		.con-box {
			@include flex-basis(100%);
			max-width: 100%;
			min-width: 100%;
			[class^='tit-'] {
				margin-top: rem(40);
			}
		}
		.ul-list li {
			@include justify-content(flex-start);
			padding-right: rem(80);
			white-space: nowrap;
		}
	}





} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px
