@charset "utf-8";
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣
//
//      @Document     : main
//      @comment      : 메인 콘텐츠
//
// ▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣


.list-main {
	.list-item {
		position: relative;
		&:hover {
			.txt-item {
				dt,
				dd,
				.link-arrow{
					margin-left: rem(60);
					opacity: 1;
				}
			}
			.img-item:before {
				opacity: 1;
			}
		}
	}
	.txt-item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		dl {
			margin-top: rem(80);
		}
		dt,
		dd,
		.link-arrow {
			opacity: 0;
			transition: all .3s ease-out;
		}
		dt {
			margin-left: 0;
		}
		dd {
			margin-top: rem(26);
			margin-left: 0;
			transition-delay: .15s;
		}
		.link-arrow {
			position: absolute;
			left: 0;
			bottom: rem(60);
			margin-left: 0;
		}
	}
	.img-item {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #D5539E;
			opacity: 0;
			transition: opacity .4s ease-in-out;
			z-index: 2;
		}
	}
	.img-txt {
		position: absolute;
		left: rem(60);
		bottom: rem(60);
		z-index: 1;
	}
}


/* ================================== media query ================================== */
@include respond-to('xxl') {
	.list-main {
		.list-item {
			&:hover {
				.txt-item {
					dt,
					dd,
					.link-arrow{
						margin-left: vw(60, 1520);
					}
				}
			}
		}
		.txt-item {
			dl {
				margin-top: vw(80, 1520);
			}
			dt {
				font-size: vw(48, 1520);
			}
			dd {
				margin-top: vw(26, 1520);
				font-size: vw(24, 1520);
			}
			.link-arrow {
				bottom: vw(60, 1520);
				.ic-link-arrow {
					width: vw(47, 1520);
					height: vw(20, 1520);
				}
			}
		}
		.img-txt {
			left: vw(60, 1520);
			bottom: vw(60, 1520);
			font-size: vw(28, 1520);
		}
	}
} //1520px

@include respond-to('xl') {

} //1200px

@include respond-to('lg') {

} //992px

@include respond-to('md') {

} //768px

@include respond-to('sm') {

} //576px
